{% extends "base.html" %}
{% load static %}

{% url 'time_slots' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container-fluid container-welcome text-center d-flex align-items-center">
    <div>
        <h1>Welcome to the Community Booker App!</h1>
        <p class="lead">
            Effortlessly plan your events, meetings, and activities. Check our Community Center's availability and secure the perfect time slot for your next gathering!
        </p>
        <!-- Button to Available Time Slots -->
        <a href="{% url 'time_slots' %}" class="btn btn-primary mt-4">See Available Times</a>
    </div>    
</div>

<!-- Center Details Section -->
<section>
    <div class="container mt-5">
        <h2 class="text-center mb-5">Community Center Details</h2>
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/default.png' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ community_centre.featured_image.url }}"
                        alt="{{ community_centre.name }}">
                    {% endif %}
                </div>
                <div class="col-12 col-lg-6">
                    <h4>{{ community_centre.name }}</h4>
                    <p>{{ community_centre.description }}</p>
                    <p>{{ community_centre.details }}</p>
                    <p><strong>Location:</strong> {{ community_centre.address }}</p>
                    <p>
                        <span><strong>Operating Times:</strong></span>
                        <span>
                            <span class="span-display-block">{{ openning_day_name }} to {{ closing_day_name }},</span>
                            <span class="span-display-block">{{community_centre.opening_time}} - {{community_centre.closing_time}}</span>
                        </span>
                    </p>
                </div>
            </div>
    </div>
</section>
<!-- /Center Detail Section -->
{% endblock %}