

.span-inline-block {
    display: inline-block;
}
.span-block {
    display: block;
}

/* Home Page */
.container-welcome {
    height: 35em;
    background-image: linear-gradient(45deg, rgba(245, 70, 66, 0.48), rgba(8, 83, 156, 0.5)), url(../images/woman.jpg);
    background-size: cover;
    background-position: center right;
    color: #fff;
}
.container-welcome div {
    max-width: 20rem;
    margin: 0 auto;
}

/* Time Slots */
.day-section {
    margin-bottom: 2rem;
    text-align: left;
    border-top: 1px solid #bababa;
    padding-top: 1.5em;
}

.day-section h4 {
    margin: 0 1em
}

.btn-group-toggle .btn {
    margin: 0.5rem 0.2rem;
    text-align: center;
}