
/* Define color variables */
:root {
    --primary-color: #557C83 ; /* Main color for timeslots and other highlights */
    --secondary-color: #fff; /* Background color for buttons */
    --hover-color: #557C83 ;  /* Hover state color */
    --border-color: #557C83 ; /* Border color for buttons and elements */
    --text-muted: #557C83;  /* Muted text color for past bookings */
}

body {
    font-family: "PT Sans", sans-serif;
}

.span-inline-block {
    display: inline-block;
}
.span-block {
    display: block;
}
.hidden {
    visibility: hidden;
}

/*** Navigation ***/
.navbar-light .navbar-brand {
    font-family: Lato, sans-serif;
    color: var(--primary-color);
    font-weight: 900;
    letter-spacing: 0em
}
.navbar-light .navbar-brand span {
    color: #0d6efd;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(66, 97, 102, 1);
}


.navbar-light .navbar-brand:hover span {
    color: #0b5ed7;
}

/*** Home Page ***/
.container-welcome {
    height: 35em;
    background-image: linear-gradient(45deg, rgba(245, 70, 66, 0.61), rgba(8, 83, 156, 0.9)), url(../images/woman.jpg);
    background-size: cover;
    background-position: center right;
    color: var(--secondary-color);
}
.container-welcome div {
    max-width: 20rem;
    margin: 0 auto;
}

/*** Time Slots ***/
.timeslot-container {
    max-width: 70rem;
}
.day-section {
    margin-bottom: 2rem;
    text-align: left;
    border-top: 1px solid #bababa;
    padding-top: 1.5em;
}

.day-section h4 {
    margin: 0 1em;
}

.btn-group-toggle .btn-timeslot {
    margin: 0.5rem 0.2rem;
    text-align: center;
    width: 90%;
}
.btn-timeslot {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-color: var(--border-color);
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 10px;
}

.btn-timeslot:hover,
.btn-timeslot:active,
.btn-timeslot:focus,
.btn-timeslot.active,
.btn-timeslot.disabled,
.btn-check:checked + .btn-timeslot {
    background: var(--hover-color);
    color: var(--secondary-color);
    border-color: var(--hover-color);
}

/* Dynamic error message */
#message-container {
    display: none;
    margin-bottom: 1rem;
}

.error-message {    
    padding: 0.5rem 0;
}

/*** My Bookings Page ***/
.btn-mybookings {
    min-width: 10rem;
}
.tab-content .list-group-item {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/*** Account Pages ***/
#signup_form input,
.login input[type=text],
.login input[type=password] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (min-width: 576px) {
    .container-welcome div {
        margin: 0 auto;
    }
    
    .btn-group-toggle .btn-timeslot {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .container-welcome {
         background-image: linear-gradient(45deg, rgba(245, 70, 66, 0.48), rgba(8, 83, 156, 0.5)), url(../images/woman.jpg);
    }
    .container-welcome div {
        margin-left: 3.5rem;
    }
    .text-center.timeslot-header {
        text-align: left !important;
    }
}

@media screen and (min-width: 961px) {
    .container-welcome div {
        margin-left: 8.5rem;
    }
}

@media screen and (min-width: 1141px) {
    .container-welcome {
        background-position: 0% 20%;
    }
    .container-welcome div {
        margin-left: 11.5rem;
        max-width: 25rem;
    }
}

@media screen and (min-width: 1321px) {
    .container-welcome {
        background-position: 0% 20%;
    }
    .container-welcome div {
        margin-left: 14.5rem;
        max-width: 30rem;
    }
}
