{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Booking{% endblock %}

{% block content %}
  <div class="container">
    <h1>Edit Booking - {{ booking.occasion }}</h1>
    {% if new_time_slot %}
      <p>New Time Slot: {{ new_time_slot.date|date:"M d, Y" }} from {{ new_time_slot.start_time|date:"g A" }} to {{ new_time_slot.end_time|date:"g A" }}<br>
        Remember to save your changes to update your booking with the new time slot.</p>
    {% else %}
      <p>Time Slot: {{ booking.occasion }} - {{ booking.time_slot.date|date:"M n, Y" }} from {{ booking.time_slot.start_time|date:"g A" }} to {{ booking.time_slot.end_time|date:"g A" }}</p>
    {% endif %}
    <p>
      <a href="{% url 'change-time-slot' booking.slug %}">Change Time Slot</a>
    </p>

    <form method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <a href="{% url 'my-bookings' %}" class="btn btn-secondary">Cancel</a>
      <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
  </div>
{% endblock %}
