{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Your Bookings</h1>

  {% if past_bookings or upcoming_bookings %}
    <ul class="list-group">
      {% for booking in past_bookings %}
        <li class="list-group-item item-past">
          <div class="row">
            <div class="col-12 col-md-8">
              <h4>{{ booking.occasion }}</h4>
              <p><strong>Community Centre:</strong> {{ booking.community_centre.name }}</p>
              <p><strong>Date:</strong> {{ booking.time_slot.date }}</p>
              <p><strong>Time:</strong> {{ booking.time_slot.start_time }} - {{ booking.time_slot.end_time }}</p>
              {% if booking.notes %}
                <p><strong>Notes:</strong> {{ booking.notes }}</p>
              {% else %}
              <p>No notes</p>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
      {% for booking in upcoming_bookings %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-12 col-md-8">
            <h4>{{ booking.occasion }}</h4>
            <p><strong>Community Centre:</strong> {{ booking.community_centre.name }}</p>
            <p><strong>Date:</strong> {{ booking.time_slot.date }}</p>
            <p><strong>Time:</strong> {{ booking.time_slot.start_time }} - {{ booking.time_slot.end_time }}</p>
            <p><strong>{{ booking.occasion_type | capfirst }} Event</strong></p>
            {% if booking.notes %}
              <p><strong>Notes:</strong> {{ booking.notes }}</p>
            {% else %}
            <p>No notes</p>
            {% endif %}
          </div>
          <div class="col-12 col-md-4 d-grid gap-3 gap-md-0 justify-content-md-center align-items-center p-4 text-center">
            <a type="button" class="btn btn-secondary btn-mybookings" href="{% url 'edit-booking' booking.slug %}">Edit Booking</a>
            <a type="button" 
                  class="btn btn-outline-danger btn-mybookings btn-delete" 
                  data-bs-toggle="modal" 
                  data-bs-target="#cancelBookingModal" data-booking-name="{{ booking.name }}"
                  data-booking-slug="{{ booking.slug }}">Cancel Booking</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no bookings yet.</p>
  {% endif %}
</div>

<!-- Delete Confrimation Modal -->
<div class="modal fade" id="cancelBookingModal" tabindex="-1" aria-labelledby="cancelBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelBookingModalLabel">Cancel Booking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to cancel this booking? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- Confirm Cancellation -->
        <a id="confirmCancelButton" class="btn btn-danger" href="#">Confirm</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/bookings.js' %}"></script>
{% endblock %}