{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if booking != None %}
        Choose a Different Time Slot - Community Booker
    {% else %}
        Available Time Slots - Community Booker
    {% endif %}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-end align-items-center text-center timeslot-header">
        <div class="col-md-8">
            {% if booking != None %}
                <h3>Reshedule Your Booking: {{ booking.occasion }}</h3>
                <p><strong>Current Time Slot: </strong><i>{{ booking.time_slot.date }} from {{ booking.time_slot.start_time }} to {{ booking.time_slot.end_time }}</i></p>
                <p>Select a new time slot for your booking and click "Continue" button to change date and/or time of your booking.</p>                
            {% else %}
                <h3>Time Slots for Booking</h3>
                <p><i>{{ week_start|date:"F d, Y" }} to {{ week_end|date:"F d, Y" }}</i></p>
                <p>Choose an available time slot and click "Book Selected Time Slot" to make your booking.</p>
            {% endif %}
        </div>
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end mb-4 mb-md-0">
            <!-- Navigation Buttons -->
            <div class="btn-group" role="group" aria-label="Week navigation controls">
                <a type="button" aria-label="View time slots for the previous week" href="?week_offset={{ week_offset|add:'-1' }}" class="btn btn-outline-primary">Previous Week</a>
                <a type="button" aria-label="View time slots for the next week" href="?week_offset={{ week_offset|add:'1' }}" class="btn btn-outline-primary">Next Week</a>
            </div>
        </div>
    </div>
    <!-- Select Slot Form -->
    <form id="time-slot-form" method="post" autocomplete="off">
        {% csrf_token %}
        {% for day, slots in slots_by_day.items %}
            <div class="day-section d-flex justify-content-between align-items-center {% if day <= today %}text-muted{% endif %}">
                <h4 class="flex-shrink-1">
                    {{ day|date:"D"|upper }}<br>{{day|date:"d"|upper}}<br>{{day|date:"M"|upper }}
                </h4>
            
                {% if slots %}
                    <div class="btn-group-toggle w-100" data-toggle="buttons">
                        {% if day == today %}<span class="d-flex flex-nowrap">TODAY</span>{% endif %}
                        {% for slot_info in slots %}
                            <input type="radio" class="btn-check" name="time_slot" id="{{ slot_info.slot.id }}" value="{{ slot_info.slot.id }}" 
                                       {% if slot_info.has_booking or day <= today %}disabled{% endif %}>
                            <label class="btn {% if slot_info.has_booking %} btn-primary disabled{% else %} btn-outline-primary{% endif %}" for="{{ slot_info.slot.id }}">
                                {{ slot_info.slot.start_time|date:"g A" }} - {{ slot_info.slot.end_time|date:"g A" }}
                                {% if slot_info.has_booking %}
                                    <span> Booked for</span>
                                    {% if slot_info.slot.booking.occasion_type == 'public' %}
                                        <span class="span-block">{{ slot_info.slot.booking.occasion }}</span>
                                    {% else %}
                                        <span class="span-block">Private Event</span>
                                    {% endif %}
                                {% else %}
                                    <span class="span-block">Available</span>
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="w-100">
                        {% if day == today %}TODAY<br>{% endif %}
                        No time slots available for this day.
                    </p>
                {% endif %}
            </div>
        {% endfor %}
        <div id="message-container" aria-live="assertive"></div>
        <div class="d-flex justify-content-between">
            {% if booking != None %}
                <!-- Go back to the booking edit view button-->
                <a href="{% if booking %}{% url 'edit-booking' slug=booking.slug %}{% else %}{% url 'my-bookings' %}{% endif %}" class="btn btn-secondary">Back to Edit</a>
                <button type="submit" class="btn btn-primary submit-button">Continue</button>
            {%else%}
                <button type="submit" class="btn btn-primary submit-button">Book Selected Time Slot</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/timeslots.js' %}"></script>
{% endblock %}